/* -----------------css for small screen------------- */
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(https://i.pinimg.com/originals/0d/09/b5/0d09b51c35ebfb2ce8b19aac39d00b70.jpg);
    }
    .header{
        padding: 90px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .header-image{
        padding: auto;
        flex-basis: content;
        text-align: center;
    }
    .header-image img{
        width: 50%;
    }
    .header-right{
        flex-basis: 100%;
    }
    .header-text{
        flex-basis: 100%;
        font-size: 29px;
        text-shadow: 3px 3px 5px black;
    }
    .header-contact .resume{
        margin-right: 10px;
        margin-top: 10px;
        padding: 5px 15px;
        font-size: 15px;
    }
    .header-contact .social-icons{
        margin-right: 10px;
        text-decoration: none;
        font-size: 25px;
        text-shadow: 1px 1px 10px black;
    }
    
    /*---------------nav bar side menu----------------*/
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: rgba(0, 0, 0, 0.811);
        backdrop-filter: blur(4px);
        position: fixed;
        top: 0;
        right: -200px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /*---------------------About--------------------*/

    .sub-title{
        font-size: 25px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
        text-align: center;
    }
    .about-col-2{
        font-size: 14px;
    }
    .about-col-1 img{
        margin-top: 0;
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    /* ----------------Skills-------------------- */

    .skills-list{
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        grid-gap: 40px;
    }
    .skills-list div{
        width: 80px;
        height: 80px;
        padding: 10px;
        font-size: 10px;
    }
    .skills-list div img{
        height: 100%;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    .skills-list div .name{
        height: 100%;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    .skills-list div h3{
        text-align: center;
        font-weight: 600;
        margin-top: 10px;
    }

    /* --------------projects-------------- */

    #projects .container, .container .layer p{
        text-align: center;
    }
    #projects .sub-title{
        text-align: left;
    }

    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .layer{
        padding: 0 5px;
        font-size: 10px;
        
    }
    .layer a{
        margin-top: 20px;
        color: blue;
        text-decoration: none;
        font-size: 10px;
        line-height: 34px;
        background: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        text-shadow: 0px 0px 0px black;
    }
    .btn{
        margin: 30px auto;
        width: fit-content;
        font-size: 11px;
        border: 1px solid blue;
        padding: 10px 20px;
        border-radius: 6px;
        text-decoration: none;
        color: white;
        transition: background 0.5s;
    }

    /* -------------------Contact-------------------- */

    #contact .container, .copyright .cr{
        text-align: center;
    }
    #contact .sub-title, p{
        text-align: left;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-left p{
        font-size: 12px;
        margin-top: 20px;
    }
    .contact-left p i{
        margin-right: 15px;
        font-size: 20px;
    }
    .social-icons{
        margin-top: 30px;
        text-align: center;
    }
    .social-icons a{
        font-size: 30px;
        margin-right: 15px;
    }

    form input, form textarea{
        padding: 10px;
        margin: 10px 0;
        color: white;
        font-size: 14px;
        border-radius: 6px;
    }
    .copyright{
        margin-top: 50px;
        font-size: 14px;
    }
}
